---
---

@import "{{ site.theme }}";

#project_title {
	display: none;
}

#forkme_banner {
	display: none;
}

#main_content_wrap,
#form-horizontal,
form {
	background-color: white
}

img {
	box-shadow : 0 0 0 white;
	-webkit-box-shadow : 0 0 0 white;
}